In [2]:
person={'name': 'Jenn', 'age': 23}

sentence='My name is {} and I am {} years old'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old

In [3]:
sentence='My name is {0} and I am {1} years old'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old

In [5]:
tag='h1'
text='This is a headline'
sentence='<{0}>{1}<{0}>'.format(tag, text)
print(sentence)

<h1>This is a headline<h1>

In [6]:
sentence='My name is {0[name]} and I am {0[age]} years old'.format(person)
print(sentence)

My name is Jenn and I am 23 years old

In [7]:
l=['Jenn', 23]
sentence='My name is {0[0]} and I am {0[1]} years old'.format(l)
print(sentence)

My name is Jenn and I am 23 years old

In [8]:
class Person():
    def __init__(self, name, age):
        self.name=name
        self.age=age
p1=Person('Jack', '33')
sentence='My name is {0.name} and I am {0.age} years old'.format(p1)
print(sentence)

My name is Jack and I am 33 years old

In [9]:
sentence='My name is {name} and I am {age} years old'.format(name='jenn', age='30')
print(sentence)

My name is jenn and I am 30 years old

In [10]:
sentence='My name is {name} and I am {age} years old'.format(**person)
print(sentence)

My name is Jenn and I am 23 years old

In [12]:
for i in range(1, 11):
    sentence='This value is {:02}'. format(i)
    print(sentence)

This value is 01
This value is 02
This value is 03
This value is 04
This value is 05
This value is 06
This value is 07
This value is 08
This value is 09
This value is 10

In [13]:
pi=3.14159265
sentence='Pi is equal to {:.3f}'.format(pi)
print(sentence)

Pi is equal to 3.142

In [17]:
sentence='1MB is equal to {:,.2f} bytes'.format(1000**2)
print(sentence)

1MB is equal to 1,000,000.00 bytes

In [20]:
import datetime
my_date=datetime.datetime(2016,9,24,12,30,45)

sentence=' {:%B %d, %Y}'.format(my_date)
print(sentence)

 September 24, 2016

In [23]:
sentence=' {0:%B %d, %Y} fell on a {0:%A} and was the {0:%j} day of the year.'.format(my_date)
print(sentence)

 September 24, 2016 fell on a Saturday and was the 268 day of the year

In [25]:
first_name='Corey'
last_name='Schafer'
sentence=f'My name is {first_name.upper()} {last_name.upper()}'
print(sentence)

My name is COREY SCHAFER

In [28]:
person={'name':'Jenn', 'age': 23}
sentence= f"My name is {person['name']},  I am {person['age']} years old."
print(sentence)

My name is Jenn,  I am 23 years old.

In [29]:
calculation=f'4 times 11 is equal to {4*11}'
print(calculation)

4 times 11 is equal to 44

In [30]:
for n in range(1,11):
    sentence=f'The value is {n:02}'
    print(sentence)

The value is 01
The value is 02
The value is 03
The value is 04
The value is 05
The value is 06
The value is 07
The value is 08
The value is 09
The value is 10

In [32]:
pi=3.14159265
sentence=f'Pi is equal to {pi: .4f}'
print(sentence)

Pi is equal to  3.1416

In [36]:
from datetime import datetime
birthday=datetime(1990,1,1)
sentence=f'Jenn has a birday on{birthday: %B %d, %Y}'
print(sentence)

Jenn has a birday on January 01, 1990